<html>
  <head>
  </head>
  <body>
    <h4>covid-19 united states timeline</h4>
    <a href="/api/timeline/states">/api/timeline/states</a><br>
    <a href="/api/timeline/states/colorado">/api/timeline/states/$state</a><br>
    <a href="/api/timeline/states/colorado/counties">/api/timeline/states/$state/counties</a><br>
    <a href="/api/timeline/states/colorado/counties/boulder">/api/timeline/states/$state/counties/$county</a><br>
    <a href="/api/timeline/counties">/api/timeline/counties</a><br>
    <a href="/api/timeline/counties/colorado">/api/timeline/counties/$state</a><br>
    <a href="/api/timeline/counties/colorado/boulder">/api/timeline/counties/$state/$county</a><br><br>
    <h4>covid-19 united states totals</h4>
    <a href="/api/total/states">/api/total/states</a><br>
    <a href="/api/total/states/colorado">/api/total/states/$state</a><br>
    <a href="/api/total/states/colorado/counties">/api/total/states/$state/counties</a><br>
    <a href="/api/total/states/colorado/counties/boulder">/api/total/states/$state/counties/$county</a><br>
    <a href="/api/total/counties">/api/total/counties</a><br>
    <a href="/api/total/counties/colorado">/api/total/counties/$state</a><br>
    <a href="/api/total/counties/colorado/boulder">/api/total/counties/$state/$county</a><br><br>
    <h4>query parameters</h4>
    <p>mode=cases|deaths (defaults to both) </p>
    powered by <a href="https://github.com/nytimes/covid-19-data">ny times data</a>
  </body>
</html>
